<!DOCTYPE html>
<html style="-moz-box-sizing: border-box; -ms-text-size-adjust: 100%; -webkit-box-shadow: none !important; -webkit-box-sizing: border-box; -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-text-size-adjust: 100%; box-shadow: none !important; box-sizing: border-box; color: #000 !important; font-family: sans-serif; font-size: 10px; text-shadow: none !important;">
  <head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    
    
    <style>
      h1, h2, h3 {
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        color: white;
      }
      .container-mod{
        width: 600px%;
      }
    </style>
  </head>
  <body style="-moz-box-sizing: border-box; -webkit-box-shadow: none !important; -webkit-box-sizing: border-box; box-shadow: none !important; box-sizing: border-box; color: #000 !important; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; font-size: 14px; line-height: 1.42857143; margin: 0; text-shadow: none !important;" bgcolor="#fff">
<style type="text/css">
body {
margin: 0;
}
img {
border: 0;
}
img {
page-break-inside: avoid;
}
img {
max-width: 1000% !important;
}
body {
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 14px; line-height: 1.42857143; color: #333; background-color: #fff;
}
img {
vertical-align: middle;
}
</style>
    
    <div class="container-mod" style="-moz-box-sizing: border-box; -webkit-box-shadow: none !important; -webkit-box-sizing: border-box; box-shadow: none !important; box-sizing: border-box; color: #000 !important; text-shadow: none !important; width: 600px;">
      <div class="row" style="-moz-box-sizing: border-box; -webkit-box-shadow: none !important; -webkit-box-sizing: border-box; box-shadow: none !important; box-sizing: border-box; color: #000 !important; margin-left: -15px; margin-right: -15px; text-shadow: none !important;">
        <div class="col-md-6 col-md-offset-3" style="-moz-box-sizing: border-box; -webkit-box-shadow: none !important; -webkit-box-sizing: border-box; box-shadow: none !important; box-sizing: border-box; color: #000 !important; min-height: 1px; padding-left: 15px; padding-right: 15px; position: relative; text-shadow: none !important;">
          
          <div class="panel panel-primary" style="-moz-box-sizing: border-box; -webkit-box-shadow: none !important; -webkit-box-sizing: border-box; background: #fff; border: 1px solid #337ab7; border-radius: 4px; box-shadow: none !important; box-sizing: border-box; color: #000 !important; margin-bottom: 20px; text-shadow: none !important;">
            <div class="panel-heading text-center" style="-moz-box-sizing: border-box; -webkit-box-shadow: none !important; -webkit-box-sizing: border-box; background: #337ab7; border: #337ab7; border-bottom-style: solid; border-bottom-width: 1px; border-top-left-radius: 3px; border-top-right-radius: 3px; box-shadow: none !important; box-sizing: border-box; color: #000 !important; padding: 10px 15px; text-shadow: none !important;" align="center"><h2 style="-moz-box-sizing: border-box; -webkit-box-shadow: none !important; -webkit-box-sizing: border-box; box-shadow: none !important; box-sizing: border-box; color: #000 !important; font-family: 'Open Sans', sans-serif; font-size: 30px; font-weight: 700; line-height: 1.1; margin-bottom: 10px; margin-top: 20px; orphans: 3; page-break-after: avoid; text-shadow: none !important; widows: 3;">Solicitud para diseño de publicación</h2></div>
            <div class="panel-body" style="-moz-box-sizing: border-box; -webkit-box-shadow: none !important; -webkit-box-sizing: border-box; box-shadow: none !important; box-sizing: border-box; color: #000 !important; padding: 15px; text-shadow: none !important;">
              <ul class="list-group" style="-moz-box-sizing: border-box; -webkit-box-shadow: none !important; -webkit-box-sizing: border-box; box-shadow: none !important; box-sizing: border-box; color: #000 !important; margin-bottom: 20px; margin-top: 0; padding-left: 0; text-shadow: none !important;">
                <li class="list-group-item" style="-moz-box-sizing: border-box; -webkit-box-shadow: none !important; -webkit-box-sizing: border-box; background: #fff; border: 1px solid #ddd; border-top-left-radius: 4px; border-top-right-radius: 4px; box-shadow: none !important; box-sizing: border-box; color: #000 !important; display: block; margin-bottom: -1px; padding: 10px 15px; position: relative; text-shadow: none !important;">Oficina que solicita: Monterrey</li>
                <li class="list-group-item" style="-moz-box-sizing: border-box; -webkit-box-shadow: none !important; -webkit-box-sizing: border-box; background: #fff; border: 1px solid #ddd; box-shadow: none !important; box-sizing: border-box; color: #000 !important; display: block; margin-bottom: -1px; padding: 10px 15px; position: relative; text-shadow: none !important;">Tipo de publicación: Facebook</li>
                <br style="-moz-box-sizing: border-box; -webkit-box-shadow: none !important; -webkit-box-sizing: border-box; box-shadow: none !important; box-sizing: border-box; color: #000 !important; text-shadow: none !important;">
                <li class="list-group-item" style="-moz-box-sizing: border-box; -webkit-box-shadow: none !important; -webkit-box-sizing: border-box; background: #fff; border: 1px solid #ddd; border-bottom-left-radius: 4px; border-bottom-right-radius: 4px; box-shadow: none !important; box-sizing: border-box; color: #000 !important; display: block; margin-bottom: 0; padding: 10px 15px; position: relative; text-shadow: none !important;">Nombre de la vacante: test</li>
              </ul>
            </div>
          </div>
          
          <div class="panel panel-default" style="-moz-box-sizing: border-box; -webkit-box-shadow: none !important; -webkit-box-sizing: border-box; background: #fff; border: 1px solid #ddd; border-radius: 4px; box-shadow: none !important; box-sizing: border-box; color: #000 !important; margin-bottom: 20px; text-shadow: none !important;">
            <div class="panel-heading" style="-moz-box-sizing: border-box; -webkit-box-shadow: none !important; -webkit-box-sizing: border-box; background: #f5f5f5; border: #ddd; border-bottom-style: solid; border-bottom-width: 1px; border-top-left-radius: 3px; border-top-right-radius: 3px; box-shadow: none !important; box-sizing: border-box; color: #000 !important; padding: 10px 15px; text-shadow: none !important;">
              <h3 class="panel-title text-center" style="-moz-box-sizing: border-box; -webkit-box-shadow: none !important; -webkit-box-sizing: border-box; box-shadow: none !important; box-sizing: border-box; color: #000 !important; font-family: 'Open Sans', sans-serif; font-size: 16px; font-weight: 700; line-height: 1.1; margin-bottom: 0; margin-top: 0; orphans: 3; page-break-after: avoid; text-shadow: none !important; widows: 3;" align="center">Detalles de la vacante</h3>
            </div>
            <div class="panel-body" style="-moz-box-sizing: border-box; -webkit-box-shadow: none !important; -webkit-box-sizing: border-box; box-shadow: none !important; box-sizing: border-box; color: #000 !important; padding: 15px; text-shadow: none !important;">
              <ul class="list-group" style="-moz-box-sizing: border-box; -webkit-box-shadow: none !important; -webkit-box-sizing: border-box; box-shadow: none !important; box-sizing: border-box; color: #000 !important; margin-bottom: 20px; margin-top: 0; padding-left: 0; text-shadow: none !important;">
                <li class="list-group-item" style="-moz-box-sizing: border-box; -webkit-box-shadow: none !important; -webkit-box-sizing: border-box; background: #fff; border: 1px solid #ddd; border-top-left-radius: 4px; border-top-right-radius: 4px; box-shadow: none !important; box-sizing: border-box; color: #000 !important; display: block; margin-bottom: -1px; padding: 10px 15px; position: relative; text-shadow: none !important;">Edad: te</li>
                <li class="list-group-item" style="-moz-box-sizing: border-box; -webkit-box-shadow: none !important; -webkit-box-sizing: border-box; background: #fff; border: 1px solid #ddd; box-shadow: none !important; box-sizing: border-box; color: #000 !important; display: block; margin-bottom: -1px; padding: 10px 15px; position: relative; text-shadow: none !important;">Sexo: hombre</li>
                <li class="list-group-item" style="-moz-box-sizing: border-box; -webkit-box-shadow: none !important; -webkit-box-sizing: border-box; background: #fff; border: 1px solid #ddd; box-shadow: none !important; box-sizing: border-box; color: #000 !important; display: block; margin-bottom: -1px; padding: 10px 15px; position: relative; text-shadow: none !important;">Escolaridad: asdf</li>
                <li class="list-group-item" style="-moz-box-sizing: border-box; -webkit-box-shadow: none !important; -webkit-box-sizing: border-box; background: #fff; border: 1px solid #ddd; box-shadow: none !important; box-sizing: border-box; color: #000 !important; display: block; margin-bottom: -1px; padding: 10px 15px; position: relative; text-shadow: none !important;">Experiencia: asdafs</li>
                <br style="-moz-box-sizing: border-box; -webkit-box-shadow: none !important; -webkit-box-sizing: border-box; box-shadow: none !important; box-sizing: border-box; color: #000 !important; text-shadow: none !important;">
                <li class="list-group-item" style="-moz-box-sizing: border-box; -webkit-box-shadow: none !important; -webkit-box-sizing: border-box; background: #fff; border: 1px solid #ddd; box-shadow: none !important; box-sizing: border-box; color: #000 !important; display: block; margin-bottom: -1px; padding: 10px 15px; position: relative; text-shadow: none !important;">Sueldo: 5</li>
                <li class="list-group-item" style="-moz-box-sizing: border-box; -webkit-box-shadow: none !important; -webkit-box-sizing: border-box; background: #fff; border: 1px solid #ddd; border-bottom-left-radius: 4px; border-bottom-right-radius: 4px; box-shadow: none !important; box-sizing: border-box; color: #000 !important; display: block; margin-bottom: 0; padding: 10px 15px; position: relative; text-shadow: none !important;">Prestaciones: asdfasf</li>
              </ul>
              
              <div class="panel panel-default" style="-moz-box-sizing: border-box; -webkit-box-shadow: none !important; -webkit-box-sizing: border-box; background: #fff; border: 1px solid #ddd; border-radius: 4px; box-shadow: none !important; box-sizing: border-box; color: #000 !important; margin-bottom: 20px; text-shadow: none !important;">
                <div class="panel-heading" style="-moz-box-sizing: border-box; -webkit-box-shadow: none !important; -webkit-box-sizing: border-box; background: #f5f5f5; border: #ddd; border-bottom-style: solid; border-bottom-width: 1px; border-top-left-radius: 3px; border-top-right-radius: 3px; box-shadow: none !important; box-sizing: border-box; color: #000 !important; padding: 10px 15px; text-shadow: none !important;">
                  <h3 class="panel-title text-center" style="-moz-box-sizing: border-box; -webkit-box-shadow: none !important; -webkit-box-sizing: border-box; box-shadow: none !important; box-sizing: border-box; color: #000 !important; font-family: 'Open Sans', sans-serif; font-size: 16px; font-weight: 700; line-height: 1.1; margin-bottom: 0; margin-top: 0; orphans: 3; page-break-after: avoid; text-shadow: none !important; widows: 3;" align="center">Actividades de la vacante</h3>
                </div>
                <div class="panel-body" style="-moz-box-sizing: border-box; -webkit-box-shadow: none !important; -webkit-box-sizing: border-box; box-shadow: none !important; box-sizing: border-box; color: #000 !important; padding: 15px; text-shadow: none !important;">
                  asdasd
                </div>
              </div>                
            </div>
          </div>
          
          <div class="panel panel-default" style="-moz-box-sizing: border-box; -webkit-box-shadow: none !important; -webkit-box-sizing: border-box; background: #fff; border: 1px solid #ddd; border-radius: 4px; box-shadow: none !important; box-sizing: border-box; color: #000 !important; margin-bottom: 20px; text-shadow: none !important;">
            <div class="panel-heading" style="-moz-box-sizing: border-box; -webkit-box-shadow: none !important; -webkit-box-sizing: border-box; background: #f5f5f5; border: #ddd; border-bottom-style: solid; border-bottom-width: 1px; border-top-left-radius: 3px; border-top-right-radius: 3px; box-shadow: none !important; box-sizing: border-box; color: #000 !important; padding: 10px 15px; text-shadow: none !important;">
              <h3 class="panel-title text-center" style="-moz-box-sizing: border-box; -webkit-box-shadow: none !important; -webkit-box-sizing: border-box; box-shadow: none !important; box-sizing: border-box; color: #000 !important; font-family: 'Open Sans', sans-serif; font-size: 16px; font-weight: 700; line-height: 1.1; margin-bottom: 0; margin-top: 0; orphans: 3; page-break-after: avoid; text-shadow: none !important; widows: 3;" align="center">Datos de contacto</h3>
            </div>
            <div class="panel-body" style="-moz-box-sizing: border-box; -webkit-box-shadow: none !important; -webkit-box-sizing: border-box; box-shadow: none !important; box-sizing: border-box; color: #000 !important; padding: 15px; text-shadow: none !important;">
              <ul class="list-group" style="-moz-box-sizing: border-box; -webkit-box-shadow: none !important; -webkit-box-sizing: border-box; box-shadow: none !important; box-sizing: border-box; color: #000 !important; margin-bottom: 20px; margin-top: 0; padding-left: 0; text-shadow: none !important;">
                <li class="list-group-item" style="-moz-box-sizing: border-box; -webkit-box-shadow: none !important; -webkit-box-sizing: border-box; background: #fff; border: 1px solid #ddd; border-top-left-radius: 4px; border-top-right-radius: 4px; box-shadow: none !important; box-sizing: border-box; color: #000 !important; display: block; margin-bottom: -1px; padding: 10px 15px; position: relative; text-shadow: none !important;">Reclutador: adfsadf</li>
                <li class="list-group-item" style="-moz-box-sizing: border-box; -webkit-box-shadow: none !important; -webkit-box-sizing: border-box; background: #fff; border: 1px solid #ddd; box-shadow: none !important; box-sizing: border-box; color: #000 !important; display: block; margin-bottom: -1px; padding: 10px 15px; position: relative; text-shadow: none !important;">Teléfono: 651</li>
                <li class="list-group-item" style="-moz-box-sizing: border-box; -webkit-box-shadow: none !important; -webkit-box-sizing: border-box; background: #fff; border: 1px solid #ddd; border-bottom-left-radius: 4px; border-bottom-right-radius: 4px; box-shadow: none !important; box-sizing: border-box; color: #000 !important; display: block; margin-bottom: 0; padding: 10px 15px; position: relative; text-shadow: none !important;">Correo: sadfasd</li>
              </ul>
            </div>
          </div>
          
          <div class="panel panel-default" style="-moz-box-sizing: border-box; -webkit-box-shadow: none !important; -webkit-box-sizing: border-box; background: #fff; border: 1px solid #ddd; border-radius: 4px; box-shadow: none !important; box-sizing: border-box; color: #000 !important; margin-bottom: 20px; text-shadow: none !important;">
            <div class="panel-heading" style="-moz-box-sizing: border-box; -webkit-box-shadow: none !important; -webkit-box-sizing: border-box; background: #f5f5f5; border: #ddd; border-bottom-style: solid; border-bottom-width: 1px; border-top-left-radius: 3px; border-top-right-radius: 3px; box-shadow: none !important; box-sizing: border-box; color: #000 !important; padding: 10px 15px; text-shadow: none !important;">
              <h3 class="panel-title text-center" style="-moz-box-sizing: border-box; -webkit-box-shadow: none !important; -webkit-box-sizing: border-box; box-shadow: none !important; box-sizing: border-box; color: #000 !important; font-family: 'Open Sans', sans-serif; font-size: 16px; font-weight: 700; line-height: 1.1; margin-bottom: 0; margin-top: 0; orphans: 3; page-break-after: avoid; text-shadow: none !important; widows: 3;" align="center">Comentarios</h3>
            </div>
            <div class="panel-body" style="-moz-box-sizing: border-box; -webkit-box-shadow: none !important; -webkit-box-sizing: border-box; box-shadow: none !important; box-sizing: border-box; color: #000 !important; padding: 15px; text-shadow: none !important;">
              asd
            </div>
          </div>          
          
        </div>
      </div>
      
  </div>
</body>
</html>
