<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    
    <h1>Solicitud de diseño para publicación.<h1>
    
    <%= "#{ @oficina }, #{ @tipo }" %>
    <p><%= @comments %></p>
      
    
  </body>
</html>